<?xml version="1.0"?>
<model>
  <name>simple_car</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Zcyyy</name>
   <email>me@my.email</email>
  </author>

  <description>
    A simple car with a camera used to simulate humanoid robots.
  </description>
</model>
